# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdata
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
Package.resolved
.build/

# Vercel project
Backend/vercel-project/node_modules/
Backend/vercel-project/.env
Backend/vercel-project/.env.local
Backend/vercel-project/.vercel/

# macOS
.DS_Store
*.swp
*.swo

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
